<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yoshino</string>
	<key>connections</key>
	<dict>
		<key>0C708B5B-8E02-4159-9726-C2EB437C9283</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F8D1DAC-1D2D-4C84-B7BC-4F9A77261183</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yoshino</string>
	<key>description</key>
	<string>Add a task to Notion Inbox</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfreadFastNote</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>no</string>
				<key>subtext</key>
				<string>追加できるタスクは1つのみです</string>
				<key>text</key>
				<string>{query} を Inbox に追加します</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C708B5B-8E02-4159-9726-C2EB437C9283</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F8D1DAC-1D2D-4C84-B7BC-4F9A77261183</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C708B5B-8E02-4159-9726-C2EB437C9283</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>2F8D1DAC-1D2D-4C84-B7BC-4F9A77261183</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>inbox_db_id</key>
		<string>78c338c31d864e5c8305832f922e1889</string>
		<key>notion_access_token</key>
		<string>secret_nHquJke7MAxebKrF0HLW1UdhFkQiIAAy3OIuT4grqDY</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>inbox_db_id</string>
		<string>notion_access_token</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
